<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />


  </head>
  <body>
    <div class="login_form_container">
      <div class="login_form">
        <h2>Đăng nhập</h2>
        <form method="POST" action="{{ url_for('login') }}">
          <div class="input_group">
            <i class="fa fa-user"></i>
            <input
              type="text"
              name="username"
              placeholder="Username" 
              class="input_text"
              autocomplete="off"
            />
          </div>
          <div class="input_group">
            <i class="fa fa-unlock-alt"></i>
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="input_text"
              autocomplete="off"
            />
          </div>
          <div class="forgot-password">
            <a href="#" style="text-decoration: none;">Quên mật khẩu ?</a>
          </div>
          <div class="button_group" id="login_button">
            <button type="submit" style="text-decoration: none;">Đăng nhập</button>
          </div>
        </form>
        
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>